.item1 { grid-area: header;
text-align: center;
    color: black;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.item2 { grid-area: menu; 
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer ; }


a {
  color: white;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  color : black;
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
}

#myList {
  list-style: none; 
  padding: 0;
}

.vid{
  color: white;
   font-size: 30px;
    font-style: italic;
    transition: 0.3s;
    text-shadow: 2px 2px 4px #000000;
}


li { 
   margin: 50px;
  color : white;
  text-shadow: 2px 2px 4px #000000;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
  height: 700px;
}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}